@CHARSET "UTF-8";

.conteudo {
	background-color: #C0C0C0;
	margin-left: 20%;
	margin-right: 30%;
}

.navStatisticParty {
	margin-left: 20%;
	margin-top: 1%;
	margin-right: 37%;
}

.descricaoProjetoNos {
	margin-left: 20%;
	margin-top: 1%;
	margin-right: 10%;
}

.conteudo h2 {
	margin-left: 35%;
}

.row {
	margin-left: 20%;
}

.projectHelp {
	margin-left: 20%;
	margin-top: 1%;
	margin-right: 10%;
}

.progress {
	margin-left: 20%;
	margin-top: 3%;
	margin-right: 10%;
}

.title {
	margin-left: 20%;
	margin-top: 1%;
	margin-right: 10%;
}

.ranking {
	margin-left: 20%;
	margin-top: 1%;
}

.deputyStatisticsResult {
	margin-right: 10%;
}

.deputy-ring-information {
	width: 93%;
	height: 8em;
}

.deputy-ring-information h5 {
	display: inline-block;
	padding: 8px 20px;
	background: #0000CD;
	background: #0000CD;
	background: #0000CD;
	background: #0000CD;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 1px 1px 0 0 #ccc;
	color: #fff;
	font: normal 700 21px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

.deputy-ring-information p {
	text-align: center;
	text-shadow: 1px 1px 0 #404040;
}

.graphicDeputy {
	margin-top: 13%;
}

.lineTop {
	height: 5%;
}

.nav-sidebar {
	
}