@CHARSET "UTF-8";

body {
	z-index: 0;
}

.conteudo {
	background-color: #C0C0C0;
	margin-left: 20%;
	margin-right: 30%;
}

.navStatisticParty {
	margin-left: 20%;
	margin-top: 1%;
	margin-right: 37%;
}

.descricaoProjetoNos {
	margin-left: 20%;
	margin-top: 1%;
	margin-right: 10%;
}

.conteudo h2 {
	margin-left: 35%;
}

.row {
	margin-left: 20%;
}

.projectHelp {
	margin-left: 20%;
	margin-top: 1%;
	margin-right: 10%;
}

.allProgress {
	width: 47%;
	float: left;
	margin-top: 1%;
	margin-left: 2%;
}

.auxNews {
	float: right;
	margin-right: 10%;
}

.title {
	margin-left: 5%;
	margin-top: 1%;
	height: 5%;
}

.ranking {
	margin-left: 20%;
	margin-top: 1%;
}

.deputyStatisticsResult {
	margin-right: 10%;
}

.deputy-ring-information {
	width: 93%;
	height: 8em;
}

.deputy-ring-information h5 {
	display: inline-block;
	padding: 8px 20px;
	background: #0000CD;
	background: #0000CD;
	background: #0000CD;
	background: #0000CD;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 1px 1px 0 0 #ccc;
	color: #fff;
	font: normal 700 21px/1 "Calibri", sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

.deputy-ring-information p {
	text-align: center;
	text-shadow: 1px 1px 0 #404040;
}

.graphicDeputy {
	margin-top: 13%;
}

.lineTop {
	height: 5%;
}

.nav-sidebar {
	
}

.deputyStatisticsResult {
	margin-left: 10%;
	margin-right: 10%;
}

.dock>div>div {
	background-color: white;
	border: none;
	width: 20%;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.deputy-pie-chart {
	width: 70%;
}

.margin-large {
	margin-top: 10%;
}

.paginated {
	width: 80%;
}

.searchAll {
	margin-top: 1%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

#wrapper {
  margin: 10px;
}

/* BEGIN: Общие стили */
.menu,
.sub-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  background-color: #3E454D;
  cursor: pointer;
  position: relative;
  transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  /* IE lt 10, Chrome lt 1, Opera lt 11.6, Safari lt 3, FF lt 4, Android lt 2.1 и iOS lt 2.0 не поддерэивают transition. */
}

.menu li:hover {
  background-color: #353B41 !important; /* .menu > li.home может иметь больше приоритета. Поэтому. */
}

.menu a {
  color: #FFF;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
}

.menu a:hover {
  /* Защита от простого a:hover. */
  color: #FFF;
}
/* END: Общие стили */

/* BEGIN: Главное меню */
.menu {
  /* Рекомендуется задать высоту главного меню именно отсюда. */
  height: 90px;
}

.menu > li {
  float: left;
  height: 100%;
  width: 15%; /* Мудакам которые не поддерживают calc. */
  width: calc((100% - 90px) / 5);
  width: -moz-calc((100% - 90px) / 5);
  width: -webkit-calc((100% - 90px) / 5);
  /* IE lt 9, Chrome lt 19, Opera lt 15, Safari lt 6, FF lt 4, Android и iOS не поддерэивают calc. */
}

.menu > li.home {
  background: #3E454D url(http://s26.postimg.org/qbf4q4j9h/home.png) center no-repeat;
  width: 90px;
}

.menu > li.current {
  background-color: #F2762E !important; /* !important VS .menu li:hover */
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  /* IE lt 9, Chrome lt 1, Opera lt 10.5, Safari lt 3, FF lt 3.5, Android lt 2.1 и iOS lt 2.0 не поддерэивают box-shadow. */
}

.menu > li:not(:first-child) {
  box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
  -moz-box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
  -webkit-box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
}

.menu > li.home > a {
  color: transparent !important;
}

.menu > li > a > span {
  left: 0; /* Селектор .menu a выравнивает содержимое по центру, из-за чего span начинается от центра. Исправляем. */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  /* IE lt 9, Chrome lt 5, Opera lt 10.5, Safari lt 3.1, FF lt 3.5, Android lt 2.1 и iOS lt 2.0 не поддерэивают transform. */
}
/* END: Главное меню */

/* BEGIN: Подменю */
.sub-menu {
  max-height: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: max-height .5s .2s;
  -moz-transition: max-height .5s .2s;
  -o-transition: max-height .5s .2s;
  -webkit-transition: max-height .5s .2s;
}

li:hover > .sub-menu {
  max-height: 600px;
}

.sub-menu li {
  height: 60px;
}

.sub-menu a {
  line-height: 60px;
  transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  -webkit-transition: color .5s;
  white-space: nowrap;
}

.sub-menu li.current a,
.sub-menu a:hover {
  color: #F2762E !important; /* !important VS .menu a:hover */
}
/* END: Подменю */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:gray;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.contact [type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.panel-default{
	float: left;
	margin-left: 2%;
}